@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* [1] Updated Example */
body, html {
  margin: 0;
  padding: 0;
  /* Choose your preferred color, e.g., white, gray, or brand color */
  background-color: #f5f5f5; 
}
